
.banner-contact{
  width: 100%;

  @media screen and (max-width: 600px) {
    display: none !important;
  }

}

.about-container{

  background: #000000;
  overflow-x: hidden !important;
  padding-top: 8%;
  color: #ffffff;

  @media screen and (max-width: 600px) {
    min-height: 100vh;
  }


}

.imgs-tiles{
  width: 350px;
}


.heading-1{
  text-align: center;
  color: #ffffff;
  font-family: Montserrat-Medium, serif;
  font-size: 22px;
  text-transform: uppercase;
}

.info{
  font-family: Montserrat-Regular, serif;
  color: white;
  padding-top: 10px;
  line-height: 25px;
}

.main-content{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}


.header{
  // display: flex;
  padding-top: 3%;
  padding-left: 3%;
  position: fixed;
  width: 100%;
  z-index: 5;


}

.menu-ic{

  @media screen and (max-width: 600px) {
    display: flex;
  }

  .menu-btn{
    cursor: pointer;
  }
}
.menu-options{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -2%;



  .menu-text{
    font-family: Montserrat-Light, serif;
    font-size: 20px;
    padding-right: 3%;
    cursor: pointer;
  }

  .active{
    font-family: Montserrat-MediumItalic, serif;
  }
}

.view-options{
  background: #000000;
  padding-bottom: 2%;
}

.selected-tile{
  background: #000000;
}

.menu-tiles{
  height: 100vh;
  background-image: url("/assets/imgs/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid #ffffff;
  color: #ffffff;

}

.tiles-container{
  height: inherit;

  .subs{
    font-family: Montserrat-Medium, serif;
    font-size: 17px;
    line-height: 0px;
    text-transform: uppercase;
  }
}

.tile-border{
  border-right: 1px solid #ffffff;
}

.tile-desc{
  font-family: Montserrat-SemiBold, serif;
  font-size: 20px;
}


.footer-container {
  padding-top: 5%;
  background-color: black;
}

.contact-info{
  padding-left: 10%;
  padding-right: 5%;

  .heading{
    font-family: Montserrat-Light, serif;
    font-size: 35px;
    text-transform: uppercase;

    @media screen and (max-width: 600px) {
      font-size: 30px;
    }
  }


  .heading-sub{
    font-family: Montserrat-Light, serif;
    font-size: 20px;
    text-transform: uppercase;

    @media screen and (max-width: 600px) {
      font-size: 15px;
    }
  }

  .contact-topics{
    font-family: Montserrat-Light, serif;
    color: #ffffff;
    margin-right: 2%;
    text-transform: capitalize;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;

  }

  input{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-family: Montserrat-Light, serif;
    width: 45%;
    background: transparent;
    margin-right: 5%;
    padding-bottom: 4px;

    @media screen and (max-width: 600px) {
      width: 98%;
      margin-bottom: 7%;
      padding-bottom: 10px;
      margin-top: 2%;
    }
  }

  .form-con{
    margin-top: 2%;
    margin-bottom: 7%;
  }

  input:focus, textarea:focus{
    outline: none;
  }

  textarea{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-family: Montserrat-Light, serif;
    width: 95%;
    resize: none;
    background: transparent;
    padding-bottom: 4px;
  }

  .send{
    margin-top: 8%;
    font-family: Montserrat-Medium, serif;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
  }


}

.quote-div{
  background-color: #ffffff !important;
  margin-top: -0.3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5%;

  @media screen and (max-width: 600px) {
    display: none !important;
  }

  .quote{
    font-family: Georgia-Italic, serif;
    color: black;
    font-size: 18px;
    line-height: 30px;
  }

  .quote-user{
    color: #000000;
    font-family: Montserrat-Medium, serif;
    font-style: italic;
    font-size: 16px;
  }

  .tel-data{
    padding-top: 12%;
    color: #000000;
    font-family: Montserrat-Regular, serif;
    line-height: 20px;

    a{
      color: #000000;
      text-decoration: none;
    }
  }

}


