<div class="header view-options" [ngClass]="{'viewing': viewOptions}">
  <div class="menu-ic">
    <img (click)="viewMenu()" class="menu-btn" src="./assets/icons/menu.svg">
    <span class="mobile-headline">ANITA ERSKINE</span>
  </div>
  <div class="menu-options">
    <span routerLink="/home" routerLinkActive="active" class="menu-text">HOME</span>
    <span routerLink="/about" routerLinkActive="active" class="menu-text">ABOUT</span>
    <span routerLink="/portfolio" routerLinkActive="active" class="menu-text">PORTFOLIO</span>
    <span routerLink="/contact" routerLinkActive="active" class="menu-text">CONTACT</span>
  </div>
</div>
<div class="menu-tiles" *ngIf="viewOptions" >
  <div fxLayout="row" fxLayout.xs="column" class="tiles-container" [@fadeIn] [@fadeOut]>
    <div  (click)="selectTile(1)" [ngClass]="{'selected-tile': selectedTile === 1}" fxFlex="33" style="cursor: pointer" class="tile-border tile" fxLayout="column" fxLayoutAlign="center center">
      <p class="tile-desc">HOME</p>
    </div>
    <div (click)="selectTile(2)" [ngClass]="{'selected-tile': selectedTile === 2}"  class="tile-border tile" fxFlex="34" style="cursor: pointer"  fxLayout="column" fxLayoutAlign="center center">
      <p class="tile-desc">ABOUT</p>

    </div>
    <div (click)="selectTile(3)" [ngClass]="{'selected-tile': selectedTile === 3}"  class="tile" fxFlex="33" fxLayout="column" style="cursor: pointer"  fxLayoutAlign="center center">
      <p class="tile-desc">PORTFOLIO</p>
      <p *ngIf="selectedTile === 3" class="subs">Tv show</p>
      <p *ngIf="selectedTile === 3"  class="subs">Acting career</p>
      <p *ngIf="selectedTile === 3"  class="subs">Speaking engagements </p>
    </div>
  </div>
</div>
<div class="about-container" *ngIf="!viewOptions" [@fadeIn] [@fadeOut]>
  <img src="./assets/imgs/contact-banner.png" class="banner-contact">
  <div fxLayout="row">
    <div fxFlex="70" fxFlex.xs="100" class="contact-info">
      <p class="heading">CONTACT</p>
      <p class="heading-sub">What would you like to enquire about?</p>

      <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap="10px">
        <div fxFlex="20" fxFlex.xs="45">
          <p class="contact-topics" >TV Show</p>
        </div>

        <div fxFlex="20" fxFlex.xs="45">
          <p class="contact-topics">Acting</p>
        </div>

        <div fxFlex="40" fxFlex.xs="90">
          <p class="contact-topics">Speaking Engagements </p>
        </div>
      </div>

      <div fxLayout="row" fxLayout.xs="column" class="form-con">

        <input type="text" placeholder="Your Name">
        <input type="email" placeholder="Your Email">
      </div>

      <textarea placeholder="Message Details" [rows]="8"></textarea>

      <p class="send">Send Message</p>
    </div>
    <div fxFlex="30" class="quote-div">
      <p class="quote">“Courage is the most important of all the virtues, because without courage you can’t practice any other virtue consistently. You can practice any virtue erratically, but nothing consistently without courage.”</p>
      <p class="quote-user">- Maya Angelou</p>
      <p class="tel-data">
        Tel:<br>
        <a href="tel: 223240000000">+223 24 000 0000</a>
      </p>

      <div fxLayout="row">
        <p class="tel-data" fxFlex="50" >Address:<br>
          21 Pawpaw Street,<br>
          Accra, Ghana<br>
          P.O Box 193</p>

        <div fxLayout="row"  fxFlex="50" fxLayoutAlign="space-evenly center" >
          <img width="25" src="./assets/icons/ig-black.svg" class="social-ic">
          <img width="25"  src="./assets/icons/twitter-black.svg" class="social-ic">
          <img width="15"  src="./assets/icons/fb-black.svg">
        </div>
      </div>
    </div>
  </div>
</div>
