<div class="header view-options" [ngClass]="{'viewing': viewOptions}">
  <div class="menu-ic">
    <img (click)="viewMenu()" class="menu-btn" src="./assets/icons/menu.svg">
    <span class="mobile-headline">ANITA ERSKINE</span>
  </div>
  <div class="menu-options">
    <span routerLink="/home" routerLinkActive="active" class="menu-text">HOME</span>
    <span routerLink="/about" routerLinkActive="active" class="menu-text">ABOUT</span>
    <span routerLink="/portfolio" routerLinkActive="active" class="menu-text">PORTFOLIO</span>
    <span routerLink="/contact" routerLinkActive="active" class="menu-text">CONTACT</span>
  </div>
</div>
<div class="menu-tiles" *ngIf="viewOptions" >
  <div fxLayout="row"  fxLayout.xs="column" class="tiles-container" [@fadeIn] [@fadeOut]>
    <div  (click)="selectTile(1)" [ngClass]="{'selected-tile': selectedTile === 1}" fxFlex="33" style="cursor: pointer" class="tile-border tile" fxLayout="column" fxLayoutAlign="center center">
      <p class="tile-desc">HOME</p>
    </div>
    <div (click)="selectTile(2)" [ngClass]="{'selected-tile': selectedTile === 2}"  class="tile-border tile" fxFlex="34" style="cursor: pointer"  fxLayout="column" fxLayoutAlign="center center">
      <p class="tile-desc">ABOUT</p>

    </div>
    <div (click)="selectTile(3)" [ngClass]="{'selected-tile': selectedTile === 3}"  class="tile" fxFlex="33" fxLayout="column" style="cursor: pointer"  fxLayoutAlign="center center">
      <p class="tile-desc">CONTACT</p>
    </div>
  </div>
</div>
<div class="about-container" *ngIf="!viewOptions" [@fadeIn] [@fadeOut]>
  <p class="heading">TV Show</p>
  <p class="main-text">She’s  ranked one of the top 100 most Influential Women in Africa and one of the top 100 most Inspirational Women in Ghana and one of the most inspirational Ghanaian public figures. She is a bilingual (English and French) Strategic Communications Specialist and Broadcast Journalist, a Specialized Compère and TV Producer. </p>

  <div fxLayout="row" fxLayout.xs="column" class="img-tiles-container">
    <div fxFlex="50" class="left-con">
      <div class="imgss">
        <img src="./assets/imgs/about-img1.png" class="image">
        <p class="titless">NAME OF SUBJECT OF IMAGE / VIDEO</p>
        <p class="links">READ MORE</p>
      </div>

      <div class="imgss">
        <img src="./assets/imgs/about-img1.png"  class="image">
        <p class="titless">NAME OF SUBJECT OF IMAGE / VIDEO</p>
        <p class="links">READ MORE</p>
      </div>

    </div>
    <div fxFlex="50">
      <div class="imgss space">
        <img src="./assets/imgs/about-img1.png"  class="image">
        <p class="titless">NAME OF SUBJECT OF IMAGE / VIDEO</p>
        <p class="links">READ MORE</p>
      </div>

      <div class="imgss space">
        <img src="./assets/imgs/about-img1.png"  class="image">
        <p class="titless">NAME OF SUBJECT OF IMAGE / VIDEO</p>
        <p class="links">READ MORE</p>
      </div>
    </div>
  </div>

  <p class="heading">ACTING CAREER</p>
  <p class="main-text">She’s  ranked one of the top 100 most Influential Women in Africa and one of the top 100 most Inspirational Women in Ghana and one of the most inspirational Ghanaian public figures. She is a bilingual (English and French) Strategic Communications Specialist and Broadcast Journalist, a Specialized Compère and TV Producer. </p>

  <div fxLayout="row"  fxLayout.xs="column" class="img-tiles-container">
    <div fxFlex="50" class="left-con">
      <div class="imgss">
        <img src="./assets/imgs/about-img1.png"  class="image">
        <p class="titless">NAME OF SUBJECT OF IMAGE / VIDEO</p>
        <p class="links">READ MORE</p>
      </div>

      <div class="imgss">
        <img src="./assets/imgs/about-img1.png"  class="image">
        <p class="titless">NAME OF SUBJECT OF IMAGE / VIDEO</p>
        <p class="links">READ MORE</p>
      </div>

    </div>
    <div fxFlex="50">
      <div class="imgss space">
        <img src="./assets/imgs/about-img1.png"  class="image">
        <p class="titless">NAME OF SUBJECT OF IMAGE / VIDEO</p>
        <p class="links">READ MORE</p>
      </div>

      <div class="imgss space">
        <img src="./assets/imgs/about-img1.png"  class="image">
        <p class="titless">NAME OF SUBJECT OF IMAGE / VIDEO</p>
        <p class="links">READ MORE</p>
      </div>
    </div>
  </div>
</div>
<div class="footer-container"  *ngIf="!viewOptions" [@fadeIn] [@fadeOut]>
  <app-footer></app-footer>
</div>

