.about-container{

  background: #000000;
  overflow-x: hidden !important;
  max-width: 100vw !important;
}

.imgs-tiles{
  width: 350px;
}


.heading-1{
  text-align: center;
  color: #ffffff;
  font-family: Montserrat-Medium, serif;
  font-size: 22px;
  text-transform: uppercase;
}

.info{
  font-family: Montserrat-Regular, serif;
  color: white;
  padding-top: 10px;
  line-height: 25px;
}

.main-content{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}


.header{
  // display: flex;
  padding-top: 3%;
  padding-left: 3%;
  position: fixed;
  width: 100%;
  z-index: 5;


}

.menu-ic{

  .menu-btn{
    cursor: pointer;
  }
}
.menu-options{
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -2%;



  .menu-text{
    font-family: Montserrat-Light, serif;
    font-size: 20px;
    padding-right: 3%;
    cursor: pointer;
  }

  .active{
    font-family: Montserrat-MediumItalic, serif;
  }
}

.view-options{
  background: #000000;
  padding-bottom: 2%;
}

.selected-tile{
  background: #000000;
}

.menu-tiles{
  height: 100vh;
  background-image: url("/assets/imgs/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid #ffffff;
  color: #ffffff;

}

.tiles-container{
  height: inherit;
}

.tile-border{
  border-right: 1px solid #ffffff;
}

.tile-desc{
  font-family: Montserrat-SemiBold, serif;
  font-size: 20px;
}
