#videowrapper{
  position: relative;
  overflow: hidden;
}

#fullScreenDiv{
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  padding:0;
  margin: 0;
  background-color: gray;
  position: relative;
}

#video{
  width: 100vw;
  height: auto;
  margin: auto;
  display: block;
}
@media (min-aspect-ratio: 16/9) {
  #video{
    width: 100vw;
    height:auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    height: 100vh;
    width:auto;
    margin-left: 50vw;
    transform: translate(-50%);
  }
}

#videoMessage{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.main-texts{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;

    position: unset;
    top: unset;
    left: unset;
    transform: unset;
  }
}

.text-1{
  font-size: 90px;
  color: #ffffff;
  font-family: 'Bodoni-Book', serif;
  text-transform: uppercase;
  line-height: 0px;
  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: 45px;
    text-align: left;
  }
}

.text-2{
  font-family: Montserrat-Regular, serif;
  color: #ffffff;
  text-align: center;
  margin-top: -30px;
  font-size: 15px;

  @media screen and (max-width: 600px) {
    margin-top: unset;
    font-size: 12px;
  }
}

.discover-btn{
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-family: Montserrat-Light, serif;
  background: #A09A9A;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 17px;
  padding: 5px 15px;
  cursor: pointer;
}

.header{
 // display: flex;
  padding-top: 3%;
  padding-left: 3%;

}

.menu-ic{

  .menu-btn{
    cursor: pointer;
  }
}
.menu-options{
    color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -2%;



  @media screen and (max-width: 600px) {
    display: none;
  }





  .menu-text{
    font-family: Montserrat-Light, serif;
    font-size: 20px;
    padding-right: 3%;
    cursor: pointer;
  }

  .active{
    font-family: Montserrat-MediumItalic, serif;
  }
}

.view-options{
  background: #000000;
  padding-bottom: 2%;
}

.selected-tile{
  background: #000000;
}

.menu-tiles{
  height: 90vh;
  background-image: url("/assets/imgs/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid #ffffff;
  color: #ffffff;

}

.tiles-container{
  height: inherit;
}

.tile-border{
  border-right: 1px solid #ffffff;
}

.tile-desc{
  font-family: Montserrat-SemiBold, serif;
  font-size: 20px;
}

.subs{
  font-family: Montserrat-Medium, serif;
  font-size: 17px;
  line-height: 0px;
  text-transform: uppercase;
}

.tile{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}


